---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AlgorithmLayout from "../../layouts/AlgorithmLayout.astro";
---

<BaseLayout title="Bernstein-Vazirani Algorithm">
  <main>
    <AlgorithmLayout title="Bernstein-Vazirani Algorithm" />
  </main>
</BaseLayout>
