---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AlgorithmLayout from "../../layouts/AlgorithmLayout.astro";
---

<BaseLayout title="Quantum Fourier Transform">
  <main>
    <AlgorithmLayout title="Quantum Fourier Transform" />
  </main>
</BaseLayout>
