---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AlgorithmLayout from "../../layouts/AlgorithmLayout.astro";
---

<BaseLayout title="Simon's Algorithm">
  <main>
    <AlgorithmLayout title="Simon's Algorithm" />
  </main>
</BaseLayout>
