---
const { title } = Astro.props;
---

<section>
  <h2 class="text-center mt-2 text-3xl">{title}</h2>
  <slot />
  <div class="flex justify-center mt-4">
    <a href="/">
      <button
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xl"
      >
        Home Page
      </button>
    </a>
  </div>
</section>
